.img-carousel-mine {
  width: 80px;
}

.centralizer {
  align-items: center;
  justify-content: center;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  margin-top: 60px;
}

.img-carousel-mine {
  display: block;
  margin: 0 auto;
  height: 80px; /* Defina o tamanho desejado em pixels */
  width: 80px; /* Defina o tamanho desejado em pixels */
}

.carousel-item h3 {
  margin-top: 10px;
}
.carouselTam {
  height: 250px;
  background-color: rgba(128, 128, 128, 0.3);
  margin-bottom: 20px;
}
.a {
  text-decoration: none;
  color: black;
}
.a:hover {
  color: black;
}
.name:hover {
  opacity: 0.6;
  color: black;
}

.h3-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  margin-top: 10px;
}

.table-container {
  width: 80%; /* Largura desejada da tabela */
  margin: 0 auto; /* Centraliza a tabela horizontalmente */
}
table {
  border-collapse: collapse;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.colspan,.title{
  font-weight: bold;
}
td {
  padding: 8px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
table td:first-child {
  border-left: 1px solid #ddd;
}

table td:last-child {
  border-right: 1px solid #ddd;
}
tr:hover {
  background-color: #f5f5f5;
}

.back{
  margin: 10px;
}
.a-back{
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: black;
  width: 8%;
}
.a-back:hover{
  text-decoration: none;
  color: black;
}
.img-back{
  width: 35px;
  height: 25px;
  margin-right: 10px;
}
.text-voltar{
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}
.img-poke{
  width: 80px;
  height: 80px;
}
.a-poke{
  width: 80%;
  margin: 10px auto;
  text-decoration: none;
  color: black;
}
.a-poke:hover{
  transform: scale(1.07);
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}
.pokemons{
  display: grid;
  grid-template-columns: repeat(5,auto);
}
.item-pokemon{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.3);
  margin: 0px 0px 10px 10px;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.imagem-poke-esp{
  margin: 10px auto;
  width: 200px;
}
.title-nome{
  margin: 10px auto;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Tahoma;
  font-size: 40px;
  font-weight: bold;
}

.infos {
  width: 80%;
  margin: 10px auto;
  background-color: rgba(128, 128, 128, 0.3);
  padding: 10px 10px;
  border-radius: 10px;
}

.text-infos{
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 0;
}
.title-infos{
  margin: 10px auto;
  text-transform: uppercase;
  font-family: Tahoma;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.atk{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  background-color:  rgba(83, 74, 74, 0.5);
  border-radius: 30px;
  border: rgba(0, 0, 0, 0.6) 2px solid;
  margin: 10px 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: bold;
}
.ataque-pokemon{
  margin: 10px 20%;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.tipos{
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
.Tipo{
  width: 10%;
  text-align: center;
  margin: 10px 10px;
  border-radius: 30px;
}
.Grass{
  background-color: rgba(22, 185, 0,0.7);
}
.Bug{
  background-color: rgba(11, 92, 0, 0.7);
}
.Water{
  background-color: rgba(31, 54, 253, 0.7);
}
.Poison{
  background-color: rgba(177, 2, 177,0.7);
}
.Fairy{
  background-color: rgba(255, 130, 224, 0.8);
}
.Psychic{
  background-color: rgba(255, 86, 213, 0.8);
}
.Fire{
  background-color: rgba(228, 137, 0, 0.8);
}
.Fighting{
  background-color: rgba(194, 116, 0, 0.8);
}
.Rock{
  background-color: rgba(151, 123, 0, 0.8);
}
.Normal{
  background-color: rgba(92, 92, 92, 0.7);
}
.Dark{
  background-color: rgba(51, 45, 45, 0.7);
}
.Electric{
  background-color: rgba(255, 230, 0, 0.7);
}
.Ice{
  background-color: rgba(0, 238, 255, 0.7);
}
.Steel{
  background-color: rgba(79, 96, 97, 0.7);
}
.Ghost{
  background-color: rgba(116, 0, 161, 0.7);
}
.Flying{
  background: linear-gradient(180deg,#00e1ff 30%, #6e6e6e 70%);
}
.Dragon{
  background: linear-gradient(180deg,#007483 30%, #ff6969 70%);
}
.Ground{
  background: linear-gradient(180deg,#ffd000 30%, #4b4600 70%);
}

.treinador{
  font-size: 30px;
}

.poke-treinador{
  width: 150px;
}
.poke-treinador:hover{
  transform: scale(1.3);
  transition: all 0.5s;
}

.pokemons-treinador{
  margin: 10px 20%;
  display: grid;
  grid-template-columns: repeat(3, auto);
}